@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
html {
  font-family: "Roboto", sans-serif;
  color: #3d3d3d;
  padding: 0;
  margin: 0;
}

p {
  color: #4a4a4a;
  font-size: 24px;
  text-indent: 25px;
}

.h1 {
  font-weight: 500;
  font-size: 34px;
  color: #ff8800;
}

.t-a-center {
  text-align: center;
}

.t-a-right {
  text-align: right;
}

.m-l-md {
  margin-left: 15px;
}

.m-l-lg {
  margin-left: 25px;
}

.m-t-md {
  margin-top: 15px;
}

.list-tag {
  text-align: center;
  vertical-align: middle;
  height: 100px;
  border: 1px solid #ff8800;
  border-radius: 8px;
  padding: 15px;
  margin: 0 0 15px 0;
}

ul {
  list-style: disc !important;
}

.bg-image-carousel {
  background-image: url("https://picsum.photos/id/178/2592/1936");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-color-textcenter {
  background-color: #ff8800;
  padding: 20px 0 20px 0;
  text-align: center;
  color: white;
  font-size: 21px;
}

.image {
  object-fit: cover;
  max-height: 300px;
  min-width: 100%;
  display: block;
}

.text-container {
  padding: 30px;
  margin-top: 10px;
}
.text-container .title {
  font-weight: 600;
  font-size: 34px;
  background: -webkit-linear-gradient(#b67021, #ff8800, #f85189);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-container .sub-title {
  margin-top: 7px;
  font-weight: 400;
  font-size: 24px;
  color: #7a7a7a;
}
.text-container .normal-text {
  margin-top: 10px;
  color: #3d3d3d;
}
.text-container ul {
  margin-left: 15px !important;
  list-style: black !important;
}
.text-container ul li {
  margin-left: 15px !important;
}

.el-carousel__item h3 {
  color: #475669;
  font-size: 14px;
  opacity: 0.75;
  line-height: 150px;
  margin: 0;
}

.el-carousel__item:nth-child(2n) {
  background-color: #d49457;
}

.el-carousel__item:nth-child(2n+1) {
  background-color: #b3633e;
}

.relative-parent {
  position: relative;
}

.company {
  width: 100vw;
  height: 10vh;
  text-align: center;
  font-size: 64px;
  color: #3d3d3d;
  background-color: rgba(255, 255, 255, 0.25);
}

.phone-num {
  width: 100vw;
  height: 10vh;
  text-align: center;
  font-size: 64px;
  color: #3d3d3d;
  background-color: rgba(255, 255, 255, 0.25);
}

.tran-button {
  width: 100%;
  color: #3a3a3a;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: rgba(255, 60, 0, 0) 1px solid;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px 8px 0 0;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 20px;
  font-size: 36px;
}

.flex-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.flex-container.earthtone {
  background-color: white;
  background-image: url("../../static/earthtone.jpg");
  object-fit: cover;
  background-position: center;
  background-size: 700px;
  background-repeat: no-repeat;
  transition: all 0.5s;
}
.flex-container.earthtone:hover {
  background-size: 900px;
  filter: opacity(10);
}
.flex-container.consult {
  background-color: white;
  background-image: url("../../static/consulting.jpg");
  object-fit: fill;
  background-position: center;
  background-size: 1000px;
  background-repeat: no-repeat;
  transition: all 0.5s;
}
.flex-container.consult:hover {
  background-size: 1200px;
  filter: opacity(10);
}
.flex-container.trading {
  background-color: white;
  background-image: url("../../static/trading.jpg");
  object-fit: fill;
  background-position: center;
  background-size: 1300px;
  background-repeat: no-repeat;
  transition: all 0.5s;
}
.flex-container.trading:hover {
  background-size: 1500px;
  filter: opacity(10);
}

/*# sourceMappingURL=global.css.map */
